/* I included this for formatting, and so there would be no space on top */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangleBlock{
    /* default values before anything */
    overflow: auto;
    display: inline-block;
}

.update-button{
    display: inline-block;
}

h1{
    display: grid;
    place-items: center;
    font-family:Impact;
}

p{
    padding: 20px;
    display: grid;
    place-items: center;
}

.home-buttons{
    display: inline-block;
    padding: 10px 30px 10px 0px;
}

.inline-button {
    display: inline-block;
    margin-bottom: 15px;
}

.return{
    margin-top: -38px;
    display: flex;
    justify-content: flex-end;
}

.delete-link {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.delete-link:hover {
    text-decoration: none;
}

.color-box {
    display: inline-block;
    width: 100px; 
    height: 25px; 
    border: 2px solid #ccc; 
    vertical-align: middle;
    position: absolute;
    margin-left: 25px;
    white-space: nowrap;
    justify-content: center; 
    align-items: center; 

 
}


#rectangles{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
    overflow: auto;
}

.rectangle{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
    overflow: auto;
}


th{
    background-color: #65a8ff;
}


#rectangles th, #rectangles td {
    border: 1px solid #c5c2c2;
    padding: 8px;
    text-align: left;
    overflow: auto;
}


.editable-cell, .input{
    width: 200px;
}
